.locations-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}
.locations-ml-1 {
    margin-left: 0.25rem
}
.locations--ml-1 {
    margin-left: -0.25rem
}
.locations-mr-2 {
    margin-right: 0.5rem
}
.locations-ml-4 {
    margin-left: 1rem
}
.locations-ml-2 {
    margin-left: 0.5rem
}
.locations-flex {
    display: flex
}
.locations-inline-flex {
    display: inline-flex
}
.locations-h-4 {
    height: 1rem
}
.locations-h-3 {
    height: 0.75rem
}
.locations-h-5 {
    height: 1.25rem
}
.locations-w-4 {
    width: 1rem
}
.locations-w-3 {
    width: 0.75rem
}
.locations-w-5 {
    width: 1.25rem
}
.locations-shrink-0 {
    flex-shrink: 0
}
.locations-items-center {
    align-items: center
}
.locations-justify-center {
    justify-content: center
}
.locations-rounded-md {
    border-radius: 0.375rem
}
.locations-bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
.locations-py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem
}
.locations-py-0 {
    padding-top: 0px;
    padding-bottom: 0px
}
.locations-pl-2\.5 {
    padding-left: 0.625rem
}
.locations-pr-1 {
    padding-right: 0.25rem
}
.locations-pl-2 {
    padding-left: 0.5rem
}
.locations-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.locations-font-medium {
    font-weight: 500
}
.locations-text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity))
}
.locations-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
}
.locations-text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}
.hover\:locations-bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}
.hover\:locations-text-gray-500:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity))
}
.focus\:locations-bg-gray-500:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}
.focus\:locations-text-white:focus {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.focus\:locations-outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

